# Sample for testing the file

In [1]:
print('ruhi')

ruhi

# Numpy Example

In [3]:
import numpy as np

In [4]:
my_list = [[1,2,3],[3,4,5,],[6,7,8]]
np.array(my_list)

array([[1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

 # Pandas Example

In [1]:
import pandas as pd

# Data as a dictionary where keys are column names and values are lists of data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

# Create the DataFrame
df_simple = pd.DataFrame(data)

print("--- Simple DataFrame ---")
print(df_simple)
print("\n--- DataFrame Info ---")
df_simple.info()
print("\n--- DataFrame Description ---")
print(df_simple.describe())

--- Simple DataFrame ---
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   35     Tokyo

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

--- DataFrame Description ---
             Age
count   4.000000
mean   28.000000
std     5.715476
min    22.000000
25%    24.250000
50%    27.500000
75%    31.250000
max    35.000000